{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'flwr.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-best-sellers-padding {
    padding-top: {{ 20 | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ 20 | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-best-sellers-padding {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = collections['best-sellers'].all_products_count

  if collections['best-sellers'].all_products_count > 4
    assign products_to_display = 4
    assign more_in_collection = true
  endif

  assign columns_mobile_int = 2 | plus: 0
  assign show_mobile_slider = false
  if products_to_display > 2
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if true
    assign show_desktop_slider = true
  endif
-%}

<slider-component class="slider-mobile-gutter slider-component-full-width{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">

<div class="isolate gradient">
  <div class="collection section-best-sellers-padding collection--full-width">
    <div class="best_flex_title">
      <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
          <h2 class="title h2" 
            style="font-size: h2; font-family: 'Helvetica Neue';">
            Best Sellers
          </h2>
       
          <div class="collection__description">See top trending products from all of our customers. </div>

      </div>
      {%- if show_mobile_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-best-sellers">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            {% comment %} <span class="slider-counter--current">1</span> {% endcomment %}
            {% comment %} <span aria-hidden="true"> / </span> {% endcomment %}
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            {% comment %} <span class="slider-counter--total">{{ products_to_display }}</span> {% endcomment %}
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-best-sellers">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </div>

    <ul id="Slider-best-sellers" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--4-col-desktop{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list">
      {%- for product in collections['best-sellers'].products limit: 8 -%}
        <li id="Slide-best-sellers-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
          {% assign show_price = true %}
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: "square",
            show_secondary_image: true,
            show_vendor: false,
            show_rating: false,
            show_quick_add: false,
            section_id: "best-sellers", show_price: true
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          {% assign show_price = true %}
          <li class="grid__item">
            {% render 'card-product', show_vendor: false, show_price: true %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </ul>
      
</slider-component>

    {%- if more_in_collection -%}
      <div class="center collection__view-all" style="margin: 20px 0">
        <a class="flwr_multicolumn_hero_button" href="https://htgtfurniture.com/collections/best-sellers"
          aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: collections['best-sellers'].title }}"
          style="width: 200px; margin: 10px auto 0px; padding: 10px 20px;"
        >
          {{ 'sections.featured_collection.view_all' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>
<style>
  .best_flex_title {
    display: flex;
  }
  .best_flex_title .collection__title.title-wrapper--self-padded-tablet-down {
    margin: 0 auto 0 0;
  } 
  .best_flex_title .slider-buttons {
    margin: 0 20px 0 0;
  }
  .best_flex_title .slider-buttons .slider-counter {
    min-width: 0;
  }
  @media screen and (min-width: 700px) {
    .slider--desktop {
      margin-top: 0px;
      margin-left: calc(3.5rem + var(--page-width-margin))!important;
      margin-right: calc(5rem + var(--page-width-margin))!important;
    }
    .best_flex_title .collection__title.title-wrapper--self-padded-tablet-down {
      padding: 0 calc(5rem + var(--page-width-margin));
    } 
  }
  @media screen and (max-width: 700px) {
  .collection .slider.slider--tablet {
      margin-top: 15px;
    }
  }
</style>