<div class="flwr_outer_footer page-width">
    <div class="flwr_inner_footer">
        {% for block in section.blocks %} 
            {% assign current_match = block.settings.flwr_footer_block_header | default: "none" %}
            {% if current_match != last_match %} 
              {% if forloop.index != 0 %}
                <div class="desktop_footer_spacer"></div>
              {% endif %}            
            {% endif %}    
                <div class="flwr_footer_block">
               <p class="flwr_footer_block_header">
                  {% if current_match != last_match %} 
                 {{ block.settings.flwr_footer_block_header }} 
                 {% else %}
                  <div class="desktop_footer_spacer_2"></div>
                 {% endif %}            
              </p>
                <p class="flwr_footer_block_description">
                    {{ block.settings.flwr_footer_block_description }}
                </p>
                {%- if block.settings.flwr_footer_block_description_2 -%}
                  <p class="flwr_footer_block_description">
                      {{ block.settings.flwr_footer_block_description_2 }}
                  </p>
                {%- endif -%}
                {%- if block.settings.flwr_footer_block_description_3 -%}
                  <p class="flwr_footer_block_description">
                      {{ block.settings.flwr_footer_block_description_3 }}
                  </p>
                {%- endif -%}
                {%- if block.settings.flwr_footer_block_description_4 -%}
                  <p class="flwr_footer_block_description">
                      {{ block.settings.flwr_footer_block_description_4 }}
                  </p>
                {%- endif -%}
                {%- if block.settings.flwr_footer_block_description_5 -%}
                  <p class="flwr_footer_block_description">
                      {{ block.settings.flwr_footer_block_description_5 }}
                  </p>
                {%- endif -%}
            {% if current_match != last_match %}
            </div>
            {% endif %}
            {% assign last_match = block.settings.flwr_footer_block_header | default: "none" %}
        {% endfor %}
    </div>
</div>
<style>
  .flwr_outer_footer {
    border-top: .1rem solid rgba(var(--color-foreground),.08);
  }
  .flwr_inner_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-between;
    margin: 32px 0px 20px;
  }
  .flwr_inner_footer .flwr_footer_block {
    flex: 1 0; 
    width: 32vW;
/*     margin: 0 0 1em 0; */
  }
  .flwr_footer_block_header {
    margin: 0;
    font-weight: bold;
  }
  .flwr_footer_block_description {
    margin: 0 0 0rem;
  }
  .flwr_footer_block_description a {
   	color: #fa6e12;
    text-decoration: none;
  }
  div.desktop_footer_spacer:empty {
    height: 1rem;
    display: block;
  }
  div.desktop_footer_spacer_2:empty {
    height: 3rem;
    display: block;
  }
  @media screen and (max-width: 749px) {
    .flwr_inner_footer {
      display: block;
      margin-top: 30px;
    }
    .flwr_inner_footer .flwr_footer_block {
      flex: 1 0; 
      width: 100vW;
    }
    div.desktop_footer_spacer:empty {
      height: 2rem;
      display: block;
    }
    div.desktop_footer_spacer_2:empty {
      height: 0rem;
      display: none;
    }
  }
</style>
{% schema %}
{
  "name": "Custom Footer",
  "class": "section-flwr-custom-footer",
  "settings": [
    {
        "type": "text",
        "id": "flwr_footer_header",
        "label": "Footer Header"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Footer Block",
      "settings": [
        {
          "type": "text",
          "id": "flwr_footer_block_header",
          "label": "Footer Block Header",
          "default": "Header"
        },
        {
          "type": "textarea",
          "id": "flwr_footer_block_description",
          "label": "Footer Block Description",
          "default": "Description"
        },
        {
          "type": "textarea",
          "id": "flwr_footer_block_description_2",
          "label": "Footer Block Description 2"
        },
        {
          "type": "textarea",
          "id": "flwr_footer_block_description_3",
          "label": "Footer Block Description 3"
        },
        {
          "type": "textarea",
          "id": "flwr_footer_block_description_4",
          "label": "Footer Block Description 4"
        },
        {
          "type": "textarea",
          "id": "flwr_footer_block_description_5",
          "label": "Footer Block Description 5"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer Custom - FLWR",
      "category": "CUSTOM",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
