{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

<!-- CUSTOM COLORS: BEGIN -->
{% liquid
  if template.name == 'product'
    assign productThemeBackgroundColor = "colortheme-standard"
    for tag in product.tags
      if tag contains 'colortheme-'
        assign productThemeBackgroundColor = tag
      endif
    endfor
  endif
%}
<!-- CUSTOM COLORS: END -->

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-right: {{ section.settings.padding_right | times: 0.75 | round: 0 }}px;
    padding-left: {{ section.settings.padding_left | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-right: {{ section.settings.padding_right }}px;
      padding-left: {{ section.settings.padding_left }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if section.settings.overall_background_image_url != blank %}
  <div class="multicolumn {{productThemeBackgroundColor}} {% if section.settings.title == blank %} no-heading{% endif %}"
  style="background: transparent url('{{ section.settings.overall_background_image_url }}') no-repeat center center/cover; {% unless section.settings.use_product_tag_color %} background-color: {{ section.settings.section_background_color}}; {% endunless %} color: {{ section.settings.section_text_color }};">
{% else %}
  <div class="multicolumn {{productThemeBackgroundColor}} {% if section.settings.title == blank %} no-heading{% endif %}"
    style="{% unless section.settings.use_product_tag_color %} background-color: {{ section.settings.section_background_color}}; {% endunless %} color: {{ section.settings.section_text_color }};">
{% endif %}

  <div class="{% unless section.settings.is_end_to_end %}page-width{% endunless %} section-{{ section.id }}-padding isolate">
    {% unless section.settings.title == blank %}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}">
        <h2 class="title" style="font-family: {{ section.settings.title_font_family }}; font-size: {{ section.settings.title_font_size }}; color: {{ section.settings.section_text_color }}; margin-bottom: 8px; width: 100%; text-align:{{section.settings.title_alignment}}; padding: {{ section.settings.section_title_padding }};">
          {{ section.settings.title | escape }}
        </h2>
        <p style="font-family: {{ section.settings.subtitle_font_family }}; font-size: {{ section.settings.subtitle_font_size }}; color: {{ section.settings.section_text_color }}; width: 100%; margin: 0 auto; text-align: {{section.settings.title_alignment}}; padding: {{ section.settings.section_subtitle_padding }};">
          {{ section.settings.sub_title }}
        </p>
        {%- if section.settings.button_label != blank and section.settings.swipe_on_mobile -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">{{ section.settings.button_label | escape }}</a>
        {%- endif -%}
      </div>
    {% endunless %}
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list grid grid--gapless grid--1-col{% if section.blocks.size > 3 and section.settings.image_width != 'full' %} grid--2-col-tablet grid--4-col-desktop{% elsif section.blocks.size > 3 and section.settings.image_width == 'full' %} grid--2-col-tablet{% else %} grid--3-col-tablet{% endif %}{% if section.settings.swipe_on_mobile and section.blocks.size > 1 %} slider slider--mobile grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
        style="column-gap: {{ section.settings.column_gap }};"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          <li 
              id="Slide-{{ section.id }}-{{ forloop.index }}" 
              style=""
              class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }}>
            <div class="multicolumn-card content-container" {% if section.settings.enabled_border %}style="border: 1px solid {{section.settings.section_text_color}}"{% endif %} >
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}>
                    <img
                      class="multicolumn-card__image"
                      srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
                        {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
                        {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
                        {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}
                        {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
                      src="{{ block.settings.image | img_url: '550x' }}"
                      sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                        (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                        calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt }}"
                      height="{{ block.settings.image.height }}"
                      width="{{ block.settings.image.width }}"
                      loading="lazy"
                    >
                  </div>
                </div>             
              {%- endif -%}
              {%- if block.settings.title != blank  or block.settings.text != blank or block.settings.description != blank -%}
                <div class="multicolumn-card__info" style="max-width: {{ block.settings.text_max_width }}; margin: 0 auto;">
                  {%- if block.settings.title != blank -%}
                    <h3 style="color: {{ section.settings.section_text_color }}; font-size: {{ block.settings.title_font_size }}; font-family: {{ block.settings.title_font_family }};">
                      {% if product.title != blank and block.settings.use_product_metafield %}
                        {{ product.title }}
                      {% else %}
                        {{ block.settings.title }}
                      {% endif %}
                    </h3>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte text" 
                        style="font-size: {{ block.settings.text_font_size }}; 
                                font-family: {{ block.settings.text_font_family }};
                                color: {{ block.settings.text_font_color }};
                                line-height: {{ block.settings.text_line_height }};
                                font-weight: {{ block.settings.text_font_weight }};"                       
                    >
                      {{ block.settings.text }}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <div class="rte description" 
                        style="font-size: {{ block.settings.description_font_size }}; 
                                font-family: {{ block.settings.description_font_family }};
                                color: {{ block.settings.description_font_color }};
                                line-height: {{ block.settings.description_line_height }};
                                font-weight: {{ block.settings.description_font_weight }};
                                margin: 10px 0px 0px;"                       
                    >

                      {% if product.metafields.pdp.ingredients.value != blank and block.settings.use_product_metafield %}
                        {{ product.metafields.pdp.ingredients.value }}
                      {% else %}
                        {{ block.settings.description }}
                      {% endif %}

                    </div>
                  {%- endif -%}
                  {% assign btn_id = "btn" | append: block.id %}
                  {%- if block.settings.link_label != blank and block.settings.is_hero_button -%}
                    {%
                      render "leisure-custom-hero-button",
                      button_link: block.settings.link,
                      button_label: block.settings.link_label,
                      button_color: block.settings.button_border_color,
                      button_background_color: block.settings.button_background_color,\
                      button_color_hover: block.settings.button_border_color_hover,
                      button_background_color_hover: block.settings.button_background_color_hover,
                      id: btn_id
                    %}
                  {%- elsif block.settings.link_label != blank -%}
                    <a class="link animate-arrow" {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.link_label | escape }}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a>
                  {%- endif -%}
                  {%- if block.settings.link_label_two != blank and block.settings.is_hero_button_two and block.settings.button_is_white_border_two -%}
                    {%
                      render "leisure-custom-hero-button",
                      button_link: block.settings.link_two,
                      button_label: block.settings.link_label_two,
                      button_color: block.settings.button_border_color,
                      button_background_color: block.settings.hero_button_background_color,
                      button_color_hover: block.settings.button_border_color_hover,
                      button_background_color_hover: block.settings.button_background_color_hover,
                      id: btn_id
                    %}
                  {%- elsif block.settings.link_label_two != blank -%}
                    <a class="link animate-arrow" {% if block.settings.link_two == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link_two }}"{% endif %}>{{ block.settings.link_label_two | escape }}<span class="icon-wrap">&nbsp;{% render 'icon-arrow' %}</span></a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          </li>
        
        <style>          
          #Slide-{{ section.id }}-{{ forloop.index }} {
            {% if block.settings.vertically_align_center %}            
              display: flex;
              justify-content: center;
            {% endif %}
            flex-direction: column;
            flex-wrap: wrap;
            {% unless block.settings.width == blank %}
              flex: 0 0 {{ block.settings.width }};
            {% else %}
              flex: 1 0;
            {% endunless %}
          }
          #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__info {
            max-width: {{ block.settings.text_max_width }};
            padding-left: 0;
            padding-right: 0;
            {% if block.settings.remove_bottom_padding %} padding-bottom: 0; {% else %} padding-bottom: 3.2rem; {% endif %}
            {% if block.settings.remove_top_padding %} padding-top: 0; {% else %} padding-top: 1.6rem; {% endif %}
            margin: 0 auto;
          }
          #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__image {
            border-radius: {{ block.settings.image_border_radius }};
          }
          @media screen and (max-width: 749px) {
            #Slide-{{ section.id }}-{{ forloop.index }} {           
              flex: 1 0 100%;
              {% if block.settings.mobile_order %}
              order: {{ block.settings.mobile_order }};
              {% endif %}
              margin-bottom: {{ block.settings.margin_bottom_container }};
            }
            #Slide-{{ section.id }}-{{ forloop.index }} .multicolumn-card__info {
              /* padding-bottom: 4rem; */
            }
            #Slide-{{ section.id }}-{{ forloop.index }} .rte.text p {
              {% if block.settings.tighten_letter_spacing %} letter-spacing: -4px; {% endif %}
            }
          }
        </style>
        {%- endfor -%}
      </ul>

      {%- if section.settings.swipe_on_mobile -%}
        <div class="slider-buttons no-js-hidden medium-hide{% if section.blocks.size < 2 %} small-hide{% endif %}">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a class="button .color-inversebutton--primary"{% if section.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ section.settings.button_link }}"{% endif %}>
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif-%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Multicolumn",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "overall_background_image_url",
      "label": "Overall Background Image URL"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "text",
      "id": "title_font_size",
      "default": "56px",
      "label": "Title Font Size"
    },
    {
      "type": "text",
      "id": "title_font_family",
      "default": "'GothamXNarrow-Medium'",
      "label": "Title Font Family"
    },
    {
      "type": "text",
      "id": "section_title_padding",
      "default": "0px",
      "label": "Title Padding"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Subtitle Text"
    },
    {
      "type": "text",
      "id": "subtitle_font_size",
      "default": "20px",
      "label": "Subtitle Font Size"
    },
    {
      "type": "text",
      "id": "section_subtitle_padding",
      "default": "0px",
      "label": "Subtitle Padding"
    },
    {
      "type": "text",
      "id": "subtitle_font_family",
      "default": "'Gotham-Book'",
      "label": "Subtitle Font Family"
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "is_end_to_end",
      "default": false,
      "label": "Take up full width of page?"
    },
    {
      "type": "checkbox",
      "id": "enabled_border",
      "label": "Enable Border?"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "t:sections.multicolumn.settings.image_width.options__1.label"
        },
        {
          "value": "half",
          "label": "t:sections.multicolumn.settings.image_width.options__2.label"
        },
        {
          "value": "full",
          "label": "t:sections.multicolumn.settings.image_width.options__3.label"
        }
      ],
      "default": "full",
      "label": "t:sections.multicolumn.settings.image_width.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Button label",
      "label": "t:sections.multicolumn.settings.button_label.label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "use_product_tag_color",     
      "default": false,
      "label": "Use Product Tag Color",
      "info": "If checked and if product has the product tag for themecolor - then that will be applied instead of the below setting."
    },
    {
      "type": "color",
      "id": "section_background_color",     
      "default": "#fffaf5",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "section_text_color",     
      "default": "#122246",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "column_gap",     
      "label": "Column Gap Pixels"
    },    
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Right",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "section Padding Left",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "text",
          "id": "width",
          "label": "Width of Column (e.g. 20%)",
          "info": "leave blank unless you are trying to make first column smaller"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "image_border_radius",
          "label": "Image Border Radius",
          "default": "30px"
        },
        {
          "type": "text",
          "id": "text_max_width",
          "default": "80%",
          "label": "Max width of text"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "text",
          "id": "title_font_size",
          "default": "22px",
          "label": "Title Font Size"
        },
        {
          "type": "text",
          "id": "title_font_family",
          "default": "'Gotham-Book'",
          "label": "Title Font Family"
        },
        {
          "type": "header",
          "content": "Subtitle",
          "info": "Settings for the subtitle section."
        },
        {
          "type": "text",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Subtitle"
        },
        {
          "type": "text",
          "id": "text_font_size",
          "default": "30px",
          "label": "Text Font Size"
        },
        {
          "type": "text",
          "id": "text_font_family",
          "default": "'Gotham-Book'",
          "label": "Text Font Family"
        },
        {
          "type": "text",
          "id": "text_font_color",
          "default": "#102147",
          "label": "Text Font Color"
        },
        {
          "type": "text",
          "id": "text_line_height",
          "default": "1.3",
          "label": "Text Line Height"
        },
        {
          "type": "text",
          "id": "text_font_weight",
          "default": "600",
          "label": "Text Font Weight"
        },
        {
          "type": "checkbox",
          "id": "tighten_letter_spacing",
          "default": false,
          "label": "Tighten Letter Spacing?"
        },
        {
          "type": "checkbox",
          "id": "use_product_metafield",
          "default": false,
          "label": "Use the product metafields?"
        },
        {
          "type": "textarea",
          "id": "description",
          "default": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "description_font_size",
          "default": "30px",
          "label": "Description Font Size"
        },
        {
          "type": "text",
          "id": "description_font_family",
          "default": "'Gotham-Book'",
          "label": "Description Font Family"
        },
        {
          "type": "text",
          "id": "description_font_color",
          "default": "#102147",
          "label": "Description Font Color"
        },
        {
          "type": "text",
          "id": "description_line_height",
          "default": "1.3",
          "label": "Description Line Height"
        },
        {
          "type": "text",
          "id": "description_font_weight",
          "default": "600",
          "label": "Description Font Weight"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "is_hero_button",
          "label": "Is Hero Button?"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border/Text Color",
          "default": "#fffaf5"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Button Background Color",
          "default": "#122246"
        },
        {
          "type": "color",
          "id": "button_border_color_hover",
          "label": "HOVER: Button Border/Text Color",
          "default": "#122246"
        },
        {
          "type": "color",
          "id": "button_background_color_hover",
          "label": "HOVER: Button Background Color",
          "default": "#fffaf5"
        },
        {
          "type": "checkbox",
          "id": "vertically_align_center",
          "label": "Vertically Center Align?",
          "default": true
        },
        {
          "type": "text",
          "id": "link_label_two",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link_two",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "checkbox",
          "id": "is_hero_button_two",
          "label": "Is Hero Button?"
        },
        {
          "type": "checkbox",
          "id": "button_is_white_border_two",
          "label": "Button has white border?"
        },    
        {
          "type": "text",
          "id": "mobile_order",
          "label": "Order Shows on Mobile"
        },
        {
          "type": "text",
          "id": "margin_bottom_container",          
          "label": "Mobile Margin Bottom Container"
        },
        {
          "type": "checkbox",
          "id": "remove_top_padding",
          "label": "Check to Remove Top Padding"
        },
        {
          "type": "checkbox",
          "id": "remove_bottom_padding",
          "label": "Check to Remove Bottom Padding"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Multicolumn",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
