{% schema %}
  {
    "name": "FLWR-BENEFITS-SVG",
    "settings": [
        {
          "type": "text",
          "id": "container_width",          
          "label": "Container Width"
        },
        {
          "type": "text",
          "id": "header_text",          
          "label": "Header Text"
        },
        {
          "type": "text",
          "id": "header_font_size",          
          "label": "Header Font Size"
        },
        {
          "type": "text",
          "id": "header_font_family",          
          "label": "Header Font Family"
        },
        {
          "type": "text",
          "id": "header_font_color",          
          "label": "Header Font Color"
        },
        {
          "type": "text",
          "id": "header_font_weight",          
          "label": "Header Font Weight"
        },
        {
          "type": "text",
          "id": "header_margin_bottom",          
          "label": "Header Font Margin Bottom"
        },
        {
          "type": "text",
          "id": "benefit_icon_height",          
          "label": "Benefit Icon Height"
        },        
        {
          "type": "html",
          "id": "benefit_icon_one",          
          "label": "Benefit Icon One"
        },
        {
          "type": "text",
          "id": "benefit_icon_one_text",          
          "label": "Benefit Icon One Text"
        },
        {
          "type": "html",
          "id": "benefit_icon_two",          
          "label": "Benefit Icon Two"
        },
        {
          "type": "text",
          "id": "benefit_icon_two_text",          
          "label": "Benefit Icon Two Text"
        },
        {
          "type": "html",
          "id": "benefit_icon_three",          
          "label": "Benefit Icon Three"
        },
        {
          "type": "text",
          "id": "benefit_icon_three_text",          
          "label": "Benefit Icon Three Text"
        },
        {
          "type": "html",
          "id": "benefit_icon_four",          
          "label": "Benefit Icon Four"
        },
        {
          "type": "text",
          "id": "benefit_icon_four_text",          
          "label": "Benefit Icon Four Text"
        },
        {
          "type": "html",
          "id": "benefit_icon_five",          
          "label": "Benefit Icon Five"
        },
        {
          "type": "text",
          "id": "benefit_icon_five_text",          
          "label": "Benefit Icon Five Text"
        },
        {
          "type": "html",
          "id": "benefit_icon_six",          
          "label": "Benefit Icon Six"
        },
        {
          "type": "text",
          "id": "benefit_icon_six_text",          
          "label": "Benefit Icon Six Text"
        }
    ],
  "presets": [
      {
        "name": "FLWR-BENEFITS-SVG",
        "category": "CUSTOM"        
      }
    ]
  }
{% endschema %}

<div style="border-top: 1px solid black;">
  <div class="custom_svg_outer_container">
    {%- if section.settings.header_text -%}<div class="custom_svg_title"> {{ section.settings.header_text }} </div>{%- endif -%}
    <div class="custom_svg">
      {% if section.settings.benefit_icon_one != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_one }} <span class="benefit_text"> {{ section.settings.benefit_icon_one_text }} </span> </div> {% endif %}
      {% if section.settings.benefit_icon_two != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_two}} <span class="benefit_text"> {{ section.settings.benefit_icon_two_text }} </span> </div> {% endif %}
      {% if section.settings.benefit_icon_three != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_three }} <span class="benefit_text"> {{ section.settings.benefit_icon_three_text }} </span> </div> {% endif %}
      {% if section.settings.benefit_icon_four != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_four }} <span class="benefit_text"> {{ section.settings.benefit_icon_four_text }} </span> </div> {% endif %}
      {% if section.settings.benefit_icon_five != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_five }} <span class="benefit_text"> {{ section.settings.benefit_icon_five_text }} </span> </div> {% endif %}
      {% if section.settings.benefit_icon_six != blank %} <div class="benefit_container">{{ section.settings.benefit_icon_six }} <span class="benefit_text"> {{ section.settings.benefit_icon_six_text }} </span> </div> {% endif %}
    </div>
  </div>
</div>
  <style>     
    .custom_svg_outer_container {
      width: {{ section.settings.container_width | default: "80%"}}; 
      margin: 0 auto;
      margin: 30px auto;
    }
    .custom_svg_title {
      font-family: {{ section.settings.header_font_family | default: "Helvetica Neue"}}; 
      font-size: {{ section.settings.header_font_size | default: "2em"}}; 
      color: {{ section.settings.header_font_color | default: "white" }}; 
      font-weight: {{ section.settings.header_font_weight | default: 400}}; 
      margin-bottom: {{ section.settings.header_margin_bottom }};
      text-align: center;
    }
    .custom_svg {
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .benefit_container {
      width: {{section.settings.benefit_icon_height}};
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 20px;
    }
    .custom_svg svg { 
      width: 100%; 
    }
    .custom_svg .benefit_text { 
      width: 100%;
      text-align: center;
    } 
  </style>
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
